*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    background-color: #fff;
    font-family: 'Gilroy', sans-serif;
}
#nav{
    display: flex;
    height: 50px;
    /* background-color: red; */
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
}
#first-part{
    display: flex;
    justify-content: center;
    align-items: center;
}
#first-part h3{
    font-size: 16px;
    border: 1.5px solid black;
    border-radius: 20px;
    padding: 5px 10px;
}
#first-part i{
    font-size: 15px;
    border: 1.5px solid black;
    border-radius: 12px;
    padding: 5px 10px;
}
#second-part{
    text-transform: uppercase;
    font-size: 18px;
    color: orangered;
    font-weight: 500;
}
#third-part button{
    padding: 5px 10px;
    border: 1.5px solid black;
    background-color: #fff;
    border-radius: 20px;
    font-size:14px;
    font-weight: 600;
    font-family: 'Gilroy', sans-serif;
}
#btn-2 {
    background-color: orangered !important; 
    color: white;
}
#main>h1{
    font-size: 130px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    text-transform: uppercase;
}
#main>img{
    height: 350px;
    width: 300px;
    object-fit: cover;
    object-position: top;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
}
#img-1{
    transform: translate(-50%,-50%) rotate(-30deg);
    border: 1px solid #000;
}
#img-2{
    transform: translate(-50%,-50%) rotate(-20deg);
    border: 1px solid #000;
}
#img-3{
    transform: translate(-50%,-50%) rotate(-10deg);
    border: 1px solid #000;
}
#img-4{
    transform: translate(-50%,-50%);
    border: 1px solid #000;
}
#upper-footer{
    position: absolute;
    top: 90%;
    left: 90%;
    transform: translate(-50%,-50%);
}
#upper-footer i{
    font-size: 25px;
    padding: 0px 5px;
    color: red;
}
#left-heading{
    position: absolute;
    top: 95%;
    padding: 0 15px;
}
#right-heading{
    position: absolute;
    top: 95%;
    left: 84%;
    font-size: 14px;
}
#lower-footer>i{
    border: 1px solid red;
    padding: 20px 20px 0 20px;
    border-radius: 150px 150px 0 0;
    font-size: 20px;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: orangered;
}
#left-heading>i{
    color: red;
}
